@font-face {
  font-family: "Maax";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("Maax-Regular-205TF.woff2") format("woff2");
}
@font-face {
  font-family: "Maax";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("Maax-Bold-205TF.woff2") format("woff2");
}
:root {
  --black: #1a1a1a;
  --brownish-grey: #707070;
  --brown-grey: #868686;
  --clear-blue: #3269e8;
  --dark: #1b1b1c;
  --grey: #afafaf;
  --greyish-brown: #4d4d4d;
  --light-navy: #142362;
  --mint-green: #c4dad3;
  --white: #fff;
  --gutter: 34px;
  --header-height: 73px;
  --fast: 0.5s;
  --slow: 0.75s;
  --z-nav: 10;
  --z-sub-nav: 8;
}

@media (min-width: 768px) {
  :root {
    --gutter: 60px;
    --header-height: 85px;
  }
}
@media (min-width: 992px) {
  :root {
    --gutter: 90px;
  }
}
@media (min-width: 1200px) {
  :root {
    --gutter: 139px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  color: var(--black);
  font: normal 18px/1.5 "Maax";
  margin: 0;
}
@media (min-width: 768px) {
  body {
    letter-spacing: normal;
    line-height: 1.75;
  }
}

div {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font: bold 40px/1.13 "Maax";
  letter-spacing: 0.4px;
}
@media (min-width: 992px) {
  h3 {
    font-size: 44px;
    letter-spacing: 0.45px;
  }
}
@media (min-width: 1300px) {
  h3 {
    font-size: 52px;
    letter-spacing: 0.5px;
  }
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.eyebrow {
  font: bold 12px/1.17 "Maax";
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.eyebrow--clear-blue {
  color: var(--clear-blue);
}

.desktop-only {
  display: block;
}
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

.mobile-only {
  display: block;
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(15vh);
  visibility: hidden;
  transition: opacity var(--slow), transform var(--slow);
  will-change: opacity, visibility;
}
.fade-in.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.has-hash-link {
  margin-top: calc(-1 * var(--header-height));
  padding-top: var(--header-height);
}

.privacy-policy {
  color: var(--greyish-brown);
  padding: var(--header-height) var(--gutter);
}
.privacy-policy__grid {
  border-right: 1px solid var(--greyish-brown);
  border-top: 1px solid var(--greyish-brown);
  display: grid;
  grid-template: ". . . ." auto/1fr auto auto auto;
  margin: 30px 0 22px;
}
.privacy-policy__grid h4,
.privacy-policy__grid p,
.privacy-policy__grid div {
  border-bottom: 1px solid var(--greyish-brown);
  border-left: 1px solid var(--greyish-brown);
  margin: 0;
  padding: 10px;
}
.privacy-policy a {
  text-decoration: underline;
}
.privacy-policy h1 {
  font-size: 3em;
}
.privacy-policy ul {
  list-style: disc;
  padding-left: 17px;
}

.header {
  background: var(--white);
  border-bottom: 1px solid var(--grey);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--gutter);
  position: sticky;
  top: 0;
  text-transform: uppercase;
  z-index: var(--z-sub-nav);
}
.header .logo {
  width: 148px;
  z-index: var(--z-nav);
}
@media (min-width: 768px) {
  .header .logo {
    width: 187px;
  }
}
.header__burger {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  padding: 0;
  width: 27px;
  height: 20px;
  z-index: var(--z-nav);
}
@media (min-width: 768px) {
  .header__burger {
    width: 34px;
    height: 28px;
  }
}
@media (min-width: 1081px) {
  .header__burger {
    display: none;
  }
}
.header__burger div {
  background: var(--dark);
  width: 100%;
  height: 3px;
  position: relative;
  transition: var(--slow);
}
@media (min-width: 768px) {
  .header__burger div {
    height: 4px;
  }
}
.header__burger div.close {
  background: rgba(var(--dark), 0);
}
.header__burger div.close::before {
  top: 0;
  transform: rotate(45deg);
  transition: transform var(--slow);
}
.header__burger div.close::after {
  bottom: 0;
  transition: transform var(--slow);
  transform: rotate(135deg);
}
.header__burger div::after, .header__burger div::before {
  background: var(--dark);
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  transition: transform var(--slow);
}
@media (min-width: 768px) {
  .header__burger div::after, .header__burger div::before {
    height: 4px;
  }
}
.header__burger div::before {
  top: -9px;
}
@media (min-width: 768px) {
  .header__burger div::before {
    top: -12px;
  }
}
.header__burger div::after {
  bottom: -9px;
}
@media (min-width: 768px) {
  .header__burger div::after {
    bottom: -12px;
  }
}
.header__menu {
  background: var(--white);
  color: var(--greyish-brown);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 1.81;
  height: calc(100vh - var(--header-height));
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: var(--slow);
  transform: translateY(-120%);
}
@media (min-width: 768px) {
  .header__menu {
    font-size: 40px;
  }
}
.header__menu.is-visible {
  transform: none;
}
.header__menu ul {
  transform: translateY(calc(-0.25 * var(--header-height)));
  text-align: center;
}
@media (min-width: 768px) {
  .header__menu ul {
    transform: translateY(calc(-1 * var(--header-height)));
  }
}
.header__menu li:hover, .header__menu li a:active {
  color: var(--clear-blue);
}

.nav_desktop {
  display: flex;
  gap: 20px;
}
.nav_desktop li {
  color: var(--greyish-brown);
  font-weight: bold;
  letter-spacing: 0.4px;
}
.nav_desktop li:hover, .nav_desktop li a:active {
  color: var(--clear-blue);
}
@media (max-width: 1080px) {
  .nav_desktop {
    display: none;
  }
}

.hero {
  background-color: var(--black);
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  letter-spacing: 0.6px;
  line-height: 1.25;
  min-height: calc(100vh - var(--header-height));
  overflow: hidden;
  padding: 60px var(--gutter);
  position: relative;
  text-align: center;
  text-shadow: 1px 3px 15px var(--black);
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}
.hero video {
  animation: fadein 2s;
  display: block;
  mix-blend-mode: lighten;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .hero video {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.hero__text {
  max-width: 250px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .hero__text {
    max-width: 725px;
    font-size: 44px;
  }
}
@media (min-width: 992px) {
  .hero__text {
    font-size: 52px;
  }
}
.hero__text .logo {
  margin: 0 auto 40px;
}
@media (min-width: 768px) {
  .hero__text .logo {
    max-width: 330px;
  }
}
.hero__more {
  display: flex;
  justify-content: center;
  width: 50px;
}
.hero__more svg {
  width: 50px;
  height: 50px;
}
.hero__more-wrapper {
  position: absolute;
  bottom: 40px;
}
@media (min-width: 768px) {
  .hero__more-wrapper {
    bottom: 60px;
  }
}
.hero__more-arrow {
  background: var(--white);
  position: relative;
  width: 1px;
  height: 50px;
}
.hero__more-arrow::after, .hero__more-arrow::before {
  background: var(--white);
  content: "";
  position: absolute;
  bottom: 0;
  width: 6px;
  height: 1px;
}
.hero__more-arrow::after {
  left: 100%;
  transform: rotate(-45deg);
  transform-origin: left;
}
.hero__more-arrow::before {
  right: 100%;
  transform: rotate(45deg);
  transform-origin: right;
}

@media (min-width: 768px) {
  .split {
    display: flex;
  }
  .split.right {
    flex-direction: row-reverse;
  }
  .split > div {
    flex: 0 0 50%;
  }
}

.mint {
  display: flex;
  align-items: center;
  position: relative;
}
.mint::after {
  background: var(--mint-green);
  content: "";
  position: absolute;
  right: calc(-1 * var(--gutter));
  top: 50%;
  transform: translateY(-50%);
  width: calc(2.5 * var(--gutter));
  height: 35px;
}
@media (min-width: 768px) {
  .mint::after {
    left: calc(-1 * var(--gutter));
    right: auto;
    width: calc(0.75 * var(--gutter));
  }
}

.who-we-are__text {
  background: var(--light-navy);
  color: var(--white);
  margin-top: calc(-1 * var(--header-height));
  padding: calc(84px + var(--header-height)) var(--gutter) 84px;
}
@media (min-width: 768px) {
  .who-we-are__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.who-we-are__image {
  display: flex;
}
@media (min-width: 768px) {
  .who-we-are__image {
    min-height: calc(100vh - var(--header-height));
  }
}
.who-we-are__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.what-we-do {
  background: #f7f8fa;
  color: var(--greyish-brown);
  overflow: hidden;
  padding: 90px var(--gutter) 90px;
  position: relative;
}
@media (min-width: 768px) {
  .what-we-do {
    padding: 100px var(--gutter);
  }
}
@media (max-width: 767px) {
  .what-we-do {
    padding-top: 25%;
  }
}
.what-we-do > img {
  position: absolute;
  right: 0;
  top: -15vw;
  transform: rotate(180deg);
  width: 70%;
}
@media (min-width: 768px) {
  .what-we-do > img {
    top: -7.5vw;
    right: 60%;
    transform: rotate(180deg) translateX(-50%);
    width: 30%;
  }
}
.what-we-do__intro {
  border-bottom: 1px solid;
  padding: 0 0 50px;
}
@media (min-width: 768px) {
  .what-we-do__intro {
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-right: calc(0.5 * var(--gutter));
  }
}
.what-we-do__intro p:last-child {
  margin-bottom: 0;
}
.what-we-do__list {
  margin: 50px 0 0;
}
@media (min-width: 768px) {
  .what-we-do__list {
    margin: 0;
    padding-left: calc(0.5 * var(--gutter));
  }
}
.what-we-do__list ul.wwd-item {
  margin: 50px 0 0;
}
.what-we-do__list ul.wwd-item li ul {
  list-style: disc;
  margin-block-start: 1em;
  padding-inline-start: 40px;
  line-height: normal;
}
.what-we-do__list ul.wwd-item > li {
  display: grid;
  gap: 0 29px;
  grid-template: "image num" auto "image text" auto/50px 1fr;
  margin: 43px 0;
}
@media (min-width: 768px) {
  .what-we-do__list ul.wwd-item > li {
    margin: 30px 0;
  }
}
.what-we-do__list ul.wwd-item > li img {
  align-self: flex-start;
  margin-top: 10px;
  grid-area: image;
  width: 50px;
}
.what-we-do__list ul.wwd-item > li span {
  grid-area: num;
}
.what-we-do__list ul.wwd-item > li p {
  font-size: 22px;
  letter-spacing: 0.9px;
  line-height: 1.33;
  grid-area: text;
  margin-bottom: 0;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .what-we-do__list ul.wwd-item > li p {
    font-size: 24px;
    letter-spacing: 1.3px;
    line-height: 1.2;
  }
}

.how-we-do-it {
  background: var(--light-navy);
  color: var(--white);
  overflow: hidden;
  position: relative;
}
.how-we-do-it > img {
  opacity: 0.2;
  position: absolute;
  bottom: -25vw;
  left: 40%;
  width: 95%;
}
@media (min-width: 768px) {
  .how-we-do-it > img {
    bottom: -12.5vw;
    left: auto;
    right: -7.5vw;
    width: 40vw;
  }
}
.how-we-do-it__intro {
  border-bottom: 1px solid;
  padding: 0 0 50px;
  margin-top: calc(-1 * var(--header-height));
  padding: calc(84px + var(--header-height)) var(--gutter) 84px;
}
@media (min-width: 768px) {
  .how-we-do-it__intro {
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: calc(-1 * var(--header-height));
    padding: calc(84px + var(--header-height)) var(--gutter) 84px;
  }
}
.how-we-do-it__intro p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .how-we-do-it__intro p {
    font-size: 20px;
  }
}
.how-we-do-it__list {
  background: var(--white);
  padding: 90px var(--gutter);
}
@media (min-width: 768px) {
  .how-we-do-it__list {
    margin: 0;
    padding: 120px var(--gutter);
    padding-left: calc(0.5 * var(--gutter));
    border-bottom: 1px solid var(--grey);
  }
}
.how-we-do-it__list ul li {
  max-width: 780px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--mint-green);
}
.how-we-do-it__list ul span.eyebrow {
  color: var(--clear-blue);
}
.how-we-do-it__list ul p {
  color: var(--clear-blue);
  font-size: 22px;
  letter-spacing: 0.9px;
  line-height: 1.33;
}
.how-we-do-it__list ul p:last-child {
  margin-bottom: 0;
}
.how-we-do-it__list .tools-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
}
.how-we-do-it__list .tools-logos img {
  flex: 0 0 auto;
  max-height: 20px;
  max-width: 100px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
}
.how-we-do-it__list .tools-logos img.height-larger {
  max-height: 35px;
}

.clients {
  background: var(--white);
  color: var(--greyish-brown);
  padding: 90px var(--gutter);
}
@media (min-width: 768px) {
  .clients {
    padding: var(--gutter);
  }
}
@media (min-width: 768px) {
  .clients__intro {
    display: flex;
  }
  .clients__intro h3 {
    margin: 0;
  }
  .clients__intro span.eyebrow {
    flex: 0 0 15vw;
  }
  .clients__intro .mint {
    width: 100%;
  }
  .clients__intro .mint::after {
    left: auto;
    right: calc(-1 * var(--gutter));
    width: var(--gutter);
  }
}
.clients__intro span.eyebrow {
  color: var(--clear-blue);
}
.clients__grid {
  display: grid;
  gap: 30px 15px;
  grid-template: ". ." auto/1fr 1fr;
  margin: 100px 0 0;
}
@media (min-width: 768px) {
  .clients__grid {
    gap: 30px 60px;
    grid-template: ". . . ." auto/1fr 1fr 1fr 1fr;
    margin: 60px 0 0;
  }
}
.clients__grid.show-all .logo-wrapper {
  display: flex !important;
}
.clients__grid .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__grid .logo-wrapper img {
  opacity: 0.75;
  width: 90%;
}
@media (min-width: 768px) {
  .clients__grid .logo-wrapper img {
    width: 75%;
  }
}
.clients__button {
  margin: 75px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .clients__button {
    display: none;
  }
}
.clients__button button {
  background: var(--clear-blue);
  border: 0;
  color: var(--white);
  font: inherit;
  text-align: center;
  width: 150px;
  height: 45px;
}

.contact {
  background: var(--light-navy);
  color: var(--white);
  overflow: hidden;
  padding: 90px var(--gutter);
  position: relative;
}
@media (min-width: 768px) {
  .contact {
    padding: 150px var(--gutter);
  }
}
.contact .word-bubble {
  opacity: 0.2;
  position: absolute;
  left: -10px;
  right: -10px;
  top: -45vw;
}
@media (min-width: 400px) {
  .contact .word-bubble {
    max-width: 400px;
    top: -180px;
  }
}
@media (min-width: 400px) {
  .contact .word-bubble {
    left: -17.5vw;
    max-width: 65vw;
    top: -20vw;
  }
}
.contact .word-bubble svg {
  width: 100%;
}
.contact__email {
  border-bottom: 1px solid;
  padding: 0 0 50px;
  position: relative;
}
.contact__email > span {
  display: inline-block;
  position: relative;
}
@media (min-width: 768px) {
  .contact__email {
    border-bottom: 0;
    padding: 0;
    padding-right: calc(0.5 * var(--gutter));
  }
}
.contact__email h3 {
  font-size: 30px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contact__email h3 {
    letter-spacing: 2.4px;
    line-height: 1.31;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 1200px) {
  .contact__email h3 {
    font-size: 48px;
  }
}
.contact__email h3 a {
  text-decoration: underline;
}
.contact__email h3 span {
  display: inline-block;
  margin: 15px 0 0;
}
@media (min-width: 768px) {
  .contact__email h3 span {
    margin: 50px 0 0;
  }
}
.contact__locations {
  margin: 50px 0 0;
}
@media (min-width: 768px) {
  .contact__locations {
    margin: 0;
    padding-left: calc(0.5 * var(--gutter));
  }
}
.contact__locations li {
  margin: 50px 0;
}
.contact__locations li:first-child {
  margin-top: 0;
}
.contact__locations li:last-child {
  margin-bottom: 0;
}
.contact__locations p {
  font-size: 18px;
  letter-spacing: 0.9px;
  line-height: 1.33;
}
@media (min-width: 768px) {
  .contact__locations p {
    font-size: 24px;
    letter-spacing: 1.2px;
    line-height: 1.29;
  }
}

.footer {
  background: var(--light-navy);
  display: grid;
  gap: 30px 0;
  grid-template: "partner" auto "socials" auto "logo" auto "links" auto/1fr;
  padding: 65px var(--gutter);
  position: relative;
}
@media (min-width: 768px) {
  .footer {
    align-items: flex-start;
    gap: 80px 0;
    grid-template: "partner socials" auto "logo links" auto/1fr 1fr;
  }
}
.footer::after {
  background: var(--white);
  content: "";
  height: 1px;
  position: absolute;
  left: var(--gutter);
  right: var(--gutter);
  top: -12.5px;
}
@media (min-width: 768px) {
  .footer::after {
    top: -42.4px;
  }
}
.footer__logo-wrapper {
  display: flex;
  align-items: center;
  color: var(--white);
  font: normal 12px/1.5 "Maax";
  grid-area: logo;
  letter-spacing: 0.36px;
}
.footer__logo-wrapper img {
  margin-right: 20px;
  width: 75px;
}
.footer__google {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--white);
  font: normal 22px/1.27 "Maax";
  grid-area: partner;
  letter-spacing: normal;
}
.footer__google img {
  margin: 0 25px 25px 0;
  width: 40%;
  max-width: 160px;
}
@media (min-width: 768px) {
  .footer__google img {
    margin-right: 40px;
    width: 160px;
  }
}
.footer__links {
  color: var(--white);
  grid-area: links;
}
@media (min-width: 768px) {
  .footer__links {
    justify-self: flex-end;
  }
}
.footer__links a {
  text-decoration: underline;
}
.footer__links span {
  display: inline-block;
  margin: 10px 25px;
}
@media (min-width: 768px) {
  .footer__links span {
    margin: 0 34px;
  }
}
.footer__links span:first-child {
  margin-left: 0;
}
.footer__links span:last-child {
  margin-right: 0;
}
.footer__socials {
  color: var(--white);
  display: flex;
  align-items: center;
  grid-area: socials;
}
@media (min-width: 768px) {
  .footer__socials {
    justify-self: flex-end;
  }
}
.footer__socials a {
  margin-right: 22px;
}
.footer__socials a:last-child {
  margin: 0;
}
.footer__socials img {
  width: 27px;
  height: 27px;
}
.footer__socials span {
  display: inline-block;
  margin-right: 25px;
}
@media (min-width: 768px) {
  .footer__socials span {
    display: inline-block;
    margin-right: 22px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spacer {
  height: 16rem;
}
@media (max-width: 767px) {
  .spacer {
    display: none;
  }
}

#lever-jobs-container .lever-job-title {
  color: #142362 !important;
}

#cookie-law-div {
  z-index: 10000000;
  position: fixed;
  bottom: 3%;
  right: 2%;
  padding: 16px 20px;
  max-width: 400px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 15px;
  box-shadow: rgba(23, 43, 99, 0.4) 0 7px 28px;
}

#cookie-law-div a {
  color: #142362;
  border-bottom: 1px solid #142362;
}

#cookie-law-div a:hover {
  opacity: 0.8;
}

#cookie-law-div p {
  color: #000;
  padding: 0;
  margin: 4px auto 20px;
  text-align: center;
}

#cookie-law-div button {
  display: block;
  margin: 6px auto;
  padding: 8px 30px;
  width: 100%;
  max-width: 160px;
  color: #fff;
  background-color: #142362;
  border: none;
  opacity: 1;
  cursor: pointer;
  border-radius: 24px;
  font: bold 13px/2.15 Maax;
  letter-spacing: 1px;
}

#cookie-law-div button:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  #cookie-law-div {
    border-radius: 0;
    font-size: 13px;
    max-width: 100%;
    right: 0;
    bottom: 0;
  }
}/*# sourceMappingURL=styles.css.map */